body {
    background-color: #1e2560;
    color: white;
    font-family: 'Bely Display', serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    z-index: auto;
}

.content {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 667px;
    max-width: 375px;
    z-index: 1;
    overflow: hidden;
}

h1 {
    font-size: 3em;
    text-align: center;
    animation-name: title;
    animation-duration: 1s;
    position: relative;
}

.leaf1 {
    z-index: -20;
    position: fixed;
    bottom: -120px;
    right: -80px;
    animation-name: leaf;
    animation-duration: 1s;

    img {
        width: 320px;
    }
}

.leaf2 {
    z-index: -21;
    position: fixed;
    top: -100px;
    left: -70px;
    animation-name: leaf2;
    animation-duration: 1s;

    img{
        width: 300px;
    }
}

.leaf3 {
    z-index: -19;
    position: fixed;
    top: -30px;
    left: -30px;
    animation-name: leaf3;
    animation-duration: 1s;

    img {
        width: 150px;
    }
}

.leaf4 {
    z-index: -18;
    position: fixed;
    bottom: -40px;
    right: -80px;
    animation-name: leaf4;
    animation-duration: 1s;

    img{
        width: 200px;
    }
}

a {
    text-decoration: none;
    padding: 10px 25px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: #ffffff10;
    color: white;
    animation-name: button;
    animation-duration: 4s;
}

@keyframes leaf {
    from{
        bottom: -300px;
        right: -150px;
    }
    to {
        bottom: -120px;
        right: -80px;
    }
}

@keyframes leaf2{
    from{
        top: -300px;
        left: -150px;
    }
    to {
        top: -100px;
        left: -70px;
    }
}

@keyframes leaf3{
    from{
        top: -100px;
        left: -100px;
    }
    to {
        top: -30px;
        left: -30px;
    }
}

@keyframes leaf4{
    from{
        bottom: -100px;
        right: -200px;
    }
    to {
        bottom: -40px;
        right: -80px;
    }
}

@keyframes button {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes title {
    from { left: -200px; }
    to { left: 0px; }
}